/*
Theme Name:     Veda Child
Theme URI: 		http://wedesignthemes.com/themes/veda
Author: 		the DesignThemes team
Author URI: 	http://themeforest.net/user/designthemes
Description:    Child theme for the Priority theme powered by DesignThemes
Template:       veda
Version:        1.0
*/